<nav>
    <a href="https://webpages.charlotte.edu/jblandin/" target="_blank">Charlotte Webpages</a>|
    <a href="https://github.com/jblandin-art" target="_blank">GitHub</a>|
    <a href="https://jblandin-art.github.io/" target="_blank">GitHub.io</a>|
    <a href="https://www.freecodecamp.org/pubstomperinrome" target="_blank">freeCodeCamp</a>|
    <a href="https://www.codecademy.com/profiles/pubstomperinrome" target="_blank">Codecademy</a>|
    <a href="https://www.linkedin.com/in/josiah-blanding-26190b37b/" target="_blank">LinkedIn</a>|
    <a href="./" target="_blank">ITIS3135</a>
</nav>
<p>© 2025 Josiah Blanding</p>
<p class="designed-by"><a href="designedbyjosiah.com/index.html" target="_blank">designedbyjosiah</a></p>