<h1 id="h1">ITIS3135 | Josiah Blanding's | Jagged Bat</h1>
<nav>
    <a href="./">Home</a> | 
    <a href="introduction.html">Introduction</a> | 
    <a href="contract.html">Contract</a> | 
    <a href="website_evaluations.html">Website Evaluations</a> | 
    <a href="fccfsjs_outline.html">FCC Full Stack JavaScript Outline</a> | 
    <a href="intro_form.html">Introduction Form</a> |
    <a href="client_project_proposal.html">Client Project Proposal</a>
</nav>
<nav class="secondary-nav">
    <a href="jaggedbat.com" target="_blank">Jagged Bat</a> | 
    <a href="hobby/index.html" target="_blank">Hobby</a> | 
    <a href="https://www.charitywater.org/" target="_blank">charity: water</a> | 
    <a href="stuff/jacobs_dream/jacobs_nightmary/jacobsScaryFather/JACOBNO!!!.htm" target="_blank">Jacob's Family</a> |
    <a href="https://jblandin-art.github.io/itis3135-react/" target="_blank">React3</a>
</nav>