<h1 id="h1">ITIS3135 | Josiah Blanding's | Jagged Bat</h1>
<nav>
    <a href="./">Home</a> <span class="divider-span">|</span>
    <a href="introduction.html">Introduction</a> <span class="divider-span">|</span>
    <a href="contract.html">Contract</a> <span class="divider-span">|</span>
    <a href="website_evaluations.html">Website Evaluations</a> <span class="divider-span">|</span>
    <a href="fccfsjs_outline.html">FCC Full Stack JavaScript Outline</a> <span class="divider-span">|</span>
    <a href="fccfsjs_outline.html">Introduction Form</a> <span class="divider-span"></span>
</nav>
<nav class="secondary-nav">
    <a href="jaggedbat.com" target="_blank">Jagged Bat</a> <span class="divider-span">|</span>
    <a href="hobby/index.html" target="_blank">Hobby</a> <span class="divider-span">|</span>
    <a href="https://www.charitywater.org/" target="_blank">charity: water</a> <span class="divider-span">|</span>
    <a href="stuff/jacobs_dream/jacobs_nightmary/jacobsScaryFather/JACOBNO!!!.htm" target="_blank">Jacob's Family</a> <span class="divider-span"></span>
</nav>