<h1 id="h1">Josiah Blanding's Jagged Bat | ITIS3135</h1>
<nav>
    <a href="./">Home</a><span class="divider">|</span>
    <a href="introduction.html">Introduction</a><span class="divider">|</span>
    <a href="contract.html">Contract</a><span class="divider">|</span>
    <a href="website_evaluations.html">Website Evaluations</a><span class="divider">|</span>
    <a href="fccfsjs_outline.html">FCC Full Stack JavaScript Outline</a><span class="divider">|</span>
    <a href="intro_form.html">Introduction Form</a><span class="divider">|</span>
    <a href="client_project_proposal.html">Client Project Proposal</a>
</nav>
<nav class="secondary-nav">
    <a href="jaggedbat.com" target="_blank">Jagged Bat</a><span class="divider">|</span>
    <a href="hobby/index.html" target="_blank">Hobby</a><span class="divider">|</span>
    <a href="https://www.charitywater.org/" target="_blank">charity: water</a><span class="divider">|</span>
    <a href="stuff/jacobs_dream/jacobs_nightmary/jacobsScaryFather/JACOBNO!!!.htm" target="_blank">Jacob's Family</a><span class="divider">|</span>
    <a href="https://jblandin-art.github.io/itis3135-react/" target="_blank">React3</a><span class="divider">|</span>
    <a href="seargent_detail/index.html" target="_blank">Client Website</a>
</nav>