<div class="top-header">
    <h1>Jagged Bat</h1>
    <nav>
        <a href=".">Home</a> |
        <a href="about.html">About</a>
    </nav>

</div>
<div class="bottom-header">
    <img class="bat-logo" src="images/bat-logo.png" alt="Josiah Blanding Logo">
    <nav>
        <a href="index.html">Mindfulness Tools</a> |
        <a href="about.html">Home & Desk Decor</a> |
        <a href="products.html">All Products</a> |
        <a href="contact.html">Accessories</a> |
        <a href="https://www.etsy.com/shop/JaggedBat" target="_blank">Journals & Planners</a>
    </nav>

</div>